---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-3xl mx-auto py-12">
    <h1 class="text-4xl font-bold mb-4">
      Capstone Reflection
    </h1>

   <div class="flex justify-between items-center mb-8">
      <p class="text-lg text-gray-600">
        Zachrey Zhu
      </p>
      
      <p class="text-lg text-gray-600">
        Aor 2026
      </p>
</div>

<div>
  <div class="space-y-4">
    <div class="space-y-6">
      <div class="space-y-4">
        <h2 class="text-2xl font-semibold"></h2>
        <p>
          Design has always been the easy part for me, making the actual product and working with people on the other hand is not so simple. Teamwork and responsibility are both important qualities to a great project, not just amazing individuals. 
        </p>
        <p>
          One attribute of an engineer that I admire is the ability to explore beyond the requirements, to dig into the problem and find a better solution no matter how good the previous or most obvious solution is and prepared to be scrutinized to every detail. 
        </p>
        <p>
          Through this project, I've often felt the responsibility of ensuring the work was completed properly. The pressure of the project's quality constantly weighs my mind and to which makes me appreciate the numerous professional engineers and their duty when designing a product. Whether is to protect the public, or ensuring a critical component that makes up our every day lives dependable.
        </p>
        <p>
          I'm fortunate that this campus has allowed me to do things that I might otherwise not able to do, which in my honest opinion will make me a much better engineer in the future. Be responsible and owning my word and relationships I have with others, it is just as important as the stamp of a professional engineer. This is perhaps the single most important thing, if nothing else, that I've learned from my journey here.
        </p>
        <p>
          There are a lot more room for growth in the future, but growing with the right mind set is what should facilitate the outcome of me as a person, a lifelong student, or an engineer.
        </p>
        </div>
      </div>
    </div>
</div>

</BaseLayout>
