---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-3xl mx-auto py-12">
    <h1 class="text-4xl font-bold mb-4">
      Free Space Optical Communication - Capstone
    </h1>

   <div class="flex justify-between items-center mb-8">
      <p class="text-lg text-gray-600">
        Optical Design Lead
      </p>
      
      <p class="text-lg text-gray-600">
        Sep 2025 - Apr 2026
      </p>
</div>

    <div class="space-y-6">
      <div class="space-y-4">
        <h2 class="text-2xl font-semibold">Overview</h2>
        <p> Designing a gimbal with optical system that provides real time tracking of a class 2 laser 100m away from the gimbal at 1m/s. 
        The feedback system of the laser needs to be a camera rather than photo diodes. 
        </p>
      </div>

      <div class="space-y-4">
        <h2 class="text-2xl font-semibold">Design Constraints</h2>
        <p>Optical Constraints</p>
        <ul class="list-disc ml-6">
          <li>No component attachment allowed on the drone side.</li>
          <li>Laser power limited to class 2</li>
          <li>Setup must be compact and portable.</li>
          <li></li>
        </ul>
      </div>

      <div class="space-y-4">
        <h2 class="text-2xl font-semibold">Background Information</h2>
        <p>
          The journey to a complete system is very complicated, and many of my original research has not made it to this document. It was enjoyable regardless learning a completely new field that I am not familiar with.
        </p>
        <p>
          But first, let's run through some background knowledge. The optical system that we are using is very simple, as our project is an abstraction of the real product. However, two issues here. First this abstraction of the project actually backfired quite a bit, it made my life a whole lot harder. Most of this pain and suffering will not be covered but when relevant, I will mention a few points. Secondly, it is obvious from the get-go that, Dr. Jonathan Holzman, our coach for the project who designed the requirement for this project, wanted us to potentially implemented it in a real system, even though the client description did not state anything regarding implementations at all. The description given was basically in the overview section, and the freedom was given to our team to figure out how to implement the system. 
        </p>
        <p>
          There are <strong>four subsystems</strong> that functions in conjunction in the project. The <a href="/project/free_space_optical_communication_capstone#mechanical-subsystem"><em><u>mechanical system</u></em></a> (motorized gimbal that mechanically achieve Acquisition Pointing and Tracking, aka APT), the <em><u>optical system</u></em> (the lenses and the detector that optically obtains the feedback information from the retroreflector), the <em><u>control system</u></em> (the signal for the gimbal based on optical feedback, and active control algorithm for clarify the image over noise and ghost reflections), and lastly, the <em><u>electrical system</u></em> (powers electronics for the mechanical section, as well as bridging for the optical system into the control system).
        </p>
        <p>
          blah
        </p>
        <p>
          temporary example, <strong>Bold</strong> <em>italic</em> <u>underlined</u>
        </p>
          <img
            src="/capstone_feedback_system_architecture.svg"
            alt="Capstone system architecture diagram"
            class="w-full max-w-3xl my-8"
          />
          <p>All of the sensor PCBs and main board run FreeRTOS. Each sensor PCB performs sensor fusion locally and transmits its status to the main board via CAN bus.</p>
      </div>

      <div class="space-y-4", id="Mechanical-Subsystem">
        <h3 class="text-xl font-semibold">Mechanical Subsystem</h3>
        <p>
          blah  
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
          <img
            src="/capstone_feedback_system_architecture.svg"
            alt="Capstone system architecture diagram"
            class="w-full max-w-3xl my-8"
          />
          <p>All of the sensor PCBs and main board run FreeRTOS. Each sensor PCB performs sensor fusion locally and transmits its status to the main board via CAN bus.</p>
      </div>

      <div class="space-y-4", id="Optical-Subsystem">
        <h3 class="text-xl font-semibold">Optical Subsystem</h3>
        <p>
          blah  
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
          <img
            src="/capstone_feedback_system_architecture.svg"
            alt="Capstone system architecture diagram"
            class="w-full max-w-3xl my-8"
          />
          <p>All of the sensor PCBs and main board run FreeRTOS. Each sensor PCB performs sensor fusion locally and transmits its status to the main board via CAN bus.</p>
      </div>

            <div class="space-y-4", id="Control-Subsystem">
        <h3 class="text-xl font-semibold">Control Subsystem</h3>
        <p>
          blah  
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
          <img
            src="/capstone_feedback_system_architecture.svg"
            alt="Capstone system architecture diagram"
            class="w-full max-w-3xl my-8"
          />
          <p>All of the sensor PCBs and main board run FreeRTOS. Each sensor PCB performs sensor fusion locally and transmits its status to the main board via CAN bus.</p>
      </div>

      <div class="space-y-4", id="Electrical-Subsystem">
        <h3 class="text-xl font-semibold">Optical Subsystem</h3>
        <p>
          blah  
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
          <img
            src="/capstone_feedback_system_architecture.svg"
            alt="Capstone system architecture diagram"
            class="w-full max-w-3xl my-8"
          />
          <p>All of the sensor PCBs and main board run FreeRTOS. Each sensor PCB performs sensor fusion locally and transmits its status to the main board via CAN bus.</p>
      </div>

      <div class="space-y-4">
        <h2 class="text-2xl font-semibold">Design Process</h2>
        <p>
          The journey to a complete system is very complicated, and many of my original research has not made it to this document. It was enjoyable regardless learning a completely new field that I am not familiar with.
        </p>
        <p>
          But first, let's run through some background knowledge. The optical system that we are using is very simple, as our project is an abstraction of the real product. However, two issues here. First this abstraction of the project actually backfired quite a bit, it made my life a whole lot harder. Most of this pain and suffering will not be covered but when relevant, I will mention a few points. Secondly, it is obvious from the get-go that, Dr. Jonathan Holzman, our coach for the project who designed the requirement for this project, wanted us to potentially implemented it in a real system, even though the client description did not state anything regarding implementations at all. The description given was basically in the overview section, and the freedom was given to our team to figure out how to implement the system. 
        </p>
        <p>
          There are four systems that functions in conjunction in the project. The mechanical system (motorized gimbal that mechanically achieve Acquisition Pointing and Tracking, aka APT), the optical system (the lenses and the detector that optically obtains the feedback information from the retroreflector), the control system (the signal for the gimbal based on optical feedback, and active control algorithm for clarify the image over noise and ghost reflections), and lastly, the electrical system (powers electronics for the mechanical section, as well as bridging for the optical system into the control system).
        </p>
        <p>
          blah
        </p>
        <p>
          blah
        </p>
          <img
            src="/capstone_feedback_system_architecture.svg"
            alt="Capstone system architecture diagram"
            class="w-full max-w-3xl my-8"
          />
          <p>All of the sensor PCBs and main board run FreeRTOS. Each sensor PCB performs sensor fusion locally and transmits its status to the main board via CAN bus.</p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Impact</h2>
        <p>
          The solution provides a real-time capsule feedback system connected to the client's HMI. This feedback system would reduce production delays while increasing throughput of the system.
        </p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Technical Details</h2>
        <p>I designed the PCB schematics in Altium:</p>
        
          <div class="my-10">
          <iframe
            src="/sensorPCB_schematics.pdf"
            class="w-full h-[700px] border rounded-lg"
          ></iframe>
          </div>

         <p> PCB layout is currently in progress!</p>
      </div>

    </div>
  </div>
</BaseLayout>
